<div class="title">
  <h2>Usuarios</h2>
</div>
<form action="">
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1">@</span>
    </div>
    <input type="text" class="form-control" placeholder="Email de usuario" aria-label="email" aria-describedby="basic-addon1">
  </div>
</form>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Email</th>
      <th>Nombre completo</th>
      <th>Rol</th>
      <th>Dirección</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td scope="row">diego.rios@gmail.com</td>
      <td>Diego Rios</td>
      <td>Admin</td>
      <td>Javier Prado 22222, San Isidro</td>
    </tr>
    <tr>
      <td scope="row">diego.rios@gmail.com</td>
      <td>Diego Rios</td>
      <td>Reporting</td>
      <td>Javier Prado 22222, San Isidro</td>
    </tr>
    <tr>
      <td scope="row">diego.rios@gmail.com</td>
      <td>Diego Rios</td>
      <td>Analista</td>
      <td>Javier Prado 22222, San Isidro</td>
    </tr>
    <tr>
      <td scope="row">diego.rios@gmail.com</td>
      <td>Diego Rios</td>
      <td>Analista</td>
      <td>Javier Prado 22222, San Isidro</td>
    </tr>
  </tbody>
</table>
