<div class="title">
  <h2>Estado de prueba</h2>
</div>
<form action="">
  <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">ID</span>
      </div>
      <input type="text" class="form-control" placeholder="ID de prueba" aria-label="ID" aria-describedby="basic-addon1">
  </div>
</form>
<table class="table">
  <thead class="thead-dark">
  <tr>
    <th scope="col">Código</th>
    <th scope="col">Estado</th>
    <th scope="col">Fecha de recepción</th>
    <th scope="col">Observación</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td scope="row">m001</td>
    <td>En laboratorio</td>
    <td>20/01/2022</td>
    <td>La muestra está siendo procesada...</td>
  </tr>
  <tr>
    <td scope="row">m002</td>
    <td>En laboratorio</td>
    <td>20/01/2022</td>
    <td>La muestra está siendo procesada...</td>
  </tr>
  <tr>
    <td scope="row">m003</td>
    <td>En laboratorio</td>
    <td>20/01/2022</td>
    <td>La muestra está siendo procesada...</td>
  </tr>
  <tr>
    <td scope="row">m004</td>
    <td>En laboratorio</td>
    <td>20/01/2022</td>
    <td>La muestra está siendo procesada...</td>
  </tr>
  </tbody>
</table>
