<div class="container" style="padding-top:120px"></div>

<div class="container" style="padding-top:120px"></div>

<form >
    <div >
        <div class="form-group">
            <div class="col-2">
                <label>Usuario:</label>
            </div>
             <div class="col-10">
                <input type="text" formControlName="usuario">
             </div>
            <br>
            <label>Contraseña:</label>
            <input type="password" formControlName="contraseña">
        </div>
        <button class="btn btn-info" (click)="__onSubmit()">Ingresar</button>
    </div>
    

</form>